.container {
  height: 100vh;
}

.containerTitle {
  border-bottom: 1px solid var(--color-gray-light);
}

.title {
  margin: 8px;
}

.subtitle {
  margin-left: 8px;
  color: var(--color-gray);
  font-weight: 400;
}

.containerButton {
  display: flex;
  margin: 8px;
  justify-content: flex-start;
  gap: 8px;
}

.tabButton {
  color: var(--color-gray);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font: inherit;
  border-bottom: 3px solid transparent;
}

.tabButtonActive {
  border-bottom: 3px solid black;
}
