.card {
  height: auto;
  width: 60%;
  display: flex;
  border: 1px solid var(--color-white);
  border-radius: 8px;
  background-color: white;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.centerContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.title {
  margin: 0;
  font-weight: 600;
}

.detailsSection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.imageSection {
  width: 150px;
  height: 120px;
  position: relative;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.priceSection {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: var(--color-black);
  color: var(--color-white);
  border-radius: 8px 0 8px 0;
}

.price {
  font-weight: 700;
}
