:root {
  /* font */
  --font:
    "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue",
    Arial, sans-serif;

  /* colors */
  --color-blue: #0ea5e9;
  --color-blue-dark: #0052a3;
  --color-gray: #64748b;
  --color-gray-light: #cdd6e4;
  --color-black: #0f172a;
  --color-white: #ffffff;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font);
  font-weight: 400;
  background-color: #e2e8f0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.font-bold {
  font-family: var(--font);
  font-weight: 700;
}

.font-regular {
  font-family: var(--font);
  font-weight: 400;
}

.font-italic {
  font-family: var(--font);
  font-style: italic;
}
